<div class="my-3 border border-primary rounded p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="fw-bold mb-0"><%= @post.title %> by <%= @post.author.name %></h2>
      <div>
        <button type="button" class="btn btn-primary me-2">
          <i class="fas fa-comment">Comments:</i>
          <span class="badge bg-light text-dark">
            <%= @post.comments_counter ? @post.comments_counter : 0 %>
          </span>
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-thumbs-up">Likes:</i>
          <span class="badge bg-light text-dark">
            <%= @post.liked_counter ? @post.liked_counter : 0 %>
          </span>
        </button>
      </div>
    </div>
  
  </div>